body {
  background-color:
}

.wrapper {

}

h1 {

}

h2 {

}

h1, h2 {

}

blockquote {

}

.image {
  text-align: center;
}

.caption {
  font-style: italic;
}

a {

}

img {
  max-width: 100%;
  height: auto;
}

ul {

}

p {

}

header {

}

footer {

}
