body {
  text-align: center;
  background-color: #d10000;
  color: #152266;
  font-family: times new roman, sans-serif;
}

.wrapper {
  background-color: #f1e9db;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
}

h2 {
  margin-bottom: .25em;
  margin-top: 1em;
}

h1, h2 {
  text-align: center;
  color: #ff9d00;
}

blockquote {
  border-left: 4px solid #8B9AA5;
  border-right: 4px solid #8B9AA5;
  padding: 12px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: #ffc935;
}

.image {
  text-align: center;
}

.caption {
  font-style: italic;
}

a {
  color: #7b0d1e;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  text-align: center;
  list-style-position: inside;
}

p {
  line-height: 1.4em;
}

header {

}

footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid #d2d2d2;
}
