body {
  text-align: center;
  background-color: #d10000;
  color: #152266;
  font-family: times new roman, sans-serif;
}

.wrapper {
  background-color: #f1e9db;

}

h1 {

}

h2 {

}

h1, h2 {
  text-align: center;
  color: #ff9d00;
}

blockquote {

}

.image {
  text-align: center;
}

.caption {
  font-style: italic;
}

a {

}

img {
  max-width: 100%;
  height: auto;
}

ul {
  text-align: center;
  list-style-position: inside;
}

p {

}

header {

}

footer {

}
