body {
  background-color: #ffd166;
  font-family: arial, sans-serif;
}

.wrapper {
  background: #ffffff;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  color: #26547c;
}

a {
  color: #ef476f;
}

img {
  max-width: 100%;
  height: auto;
}
